{% extends 'base.html' %}
{% block content %}

<div id="calendar-container">
    <div id="calendar"></div>
</div>

<script src="https://cdn.jsdelivr.net/npm/dayjs"></script>
<link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.css' rel='stylesheet' />
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.js'></script>

<style>
    #calendar-container {
      width: 50%; /* Adjust the width as needed */
      margin: 0 auto; /* Center the calendar horizontally */
      padding: 20px; /* Optional padding */
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional shadow for styling */
    }
    
    #calendar {
      max-width: 100%;
    }
</style>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const calendarEl = document.getElementById('calendar');
    const calendar = new FullCalendar.Calendar(calendarEl, {
      initialView: 'dayGridMonth',
      events: [
        {
          title: 'Pet Hotel',
          start: dayjs().add(5, 'day').format('YYYY-MM-DD'),
          end: dayjs().add(9, 'day').format('YYYY-MM-DD'), // Adjusted end date to be exclusive
          backgroundColor: '#fdd8de',
          borderColor: '#790619',
          textColor: '#790619'
        },
        {
          title: 'Grooming',
          start: dayjs().add(1, 'day').format('YYYY-MM-DD') + 'T08:00:00',
          end: dayjs().add(1, 'day').format('YYYY-MM-DD') + 'T12:00:00',
          backgroundColor: '#cfe0fc',
          borderColor: '#0a47a9',
          textColor: '#0a47a9'
        },
        {
          title: 'Bath and Dry',
          start: dayjs().add(2, 'day').format('YYYY-MM-DD') + 'T11:00:00',
          end: dayjs().add(2, 'day').format('YYYY-MM-DD') + 'T14:00:00',
          backgroundColor: '#292929',
          borderColor: '#292929',
          textColor: '#f5f5f5'
        }
      ]
    });

    calendar.render();
  });
</script>
{% endblock %}
