<!DOCTYPE html>
<html>
<head>
    <title>PET PALS</title>
</head>
<body>
   <h1>PetPals</h1>
   <p>Hey there, pet parents! Welcome to Pet Pals – your pet's home away from home. We know your furry pals aren't just pets; they're cherished members of your family. 
    That's why we're here to give them the love, care, and attention they deserve while you're away.</p>
    <nav>
        <ul>
          <li><a href="#services">Services</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav>
    <h2>What we Offer :</h2>
    <ul>
        <li>Pet Hotel</li>
        <li>Pet Sitting</li>
        <li>Dog Walking</li>  
        <li>Pet Grooming</li>
        <ul>
            <li>Bathing and drying</li>
            <li>Nail trimmming</li>
            <li>Haircut and brushing</li>
            <li>Ear clean</li>
            <li>Paw care</li>
            <li>Oral care</li>
          </ul> 
    </ul>
      
        

</body>
</html>